body,
input {
  margin: 0;
  font-family: 'Sanchez', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


header {
  font-family: "Love Ya Like A Sister", cursive;
  background-color: #ffc75f;
  border-bottom: 3px solid #e7b355;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-title {
  color: white;
  font-size: 20px;
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;          /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



img {
  max-width: 100%;
  max-height: 100%;
}

.AppHeader {
  display: flex;
  margin-left: 10%;
}
.none { 
  display: none
}

.header-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  font-size: 20px;
}

.header-username { 
  margin-right: 10px;
  font-size:15px;
  font-family: 'Sanchez', serif;

}

.header-profile {
  margin-right: 30px;
}



.header-logo {
  width: 80px;
  height: 50px;
  background-image: url("./Splash.svg");
  background-repeat: no-repeat;
  background-position-y: -7px;
}

.translation-body {
  height: 15vh;
  display: flex;
  background-color: #ffc75f;
  justify-content: center;
}

.translation-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  
}

.translation-input-text-wrapper {
  width: 100%;
}

.translation-field {
  height: 80vh;
}

.translation-keyboard {
  margin-left: 15px;
}

.translation-input-text {
  width: 100%;
  font-size:25px;
  border: none;
  outline: none;
  margin-left: 15px;
}

.translation-input-arrow {
  margin-right: 10px;
  color: purple;
}

.translation-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: white;
  height: 60px;
  width: 100%;
}

.login-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Love Ya Like A Sister", cursive;

}

.login-container {
  height: 40vh;
  background-color: #ffc75f;
  padding-top: 50px;
  margin: auto;
  width: 100%;
}

.login-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 100px;
}

.login-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
  border-radius: 15px;
  border-bottom: 15px solid purple;
}

.login-input-text {
  height: 50px;
  width: 400px;
  border: none;
  outline: none;
  padding-left: 30px;
  font-size: 25px;
}

.login-logo {
  position: relative;
  width: 250px;
  height: 300px;
  background-image: url("./Splash.svg");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-x: center;
  background-position-y: -15px;
  margin-right: 20px;
}

.login-text {
  font-size: 40px;
  color: white;
  margin-left: 20px;
}

.login-logo img {
  position: absolute;
  width: 100%;
  height: auto;
}

.translation-field-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.translation-field {
  height: 400px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  border-bottom: 30px solid purple;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}

.img-finger-letters {
  height: 60px;
  width:auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
